<div class="w-screen h-full flex flex-col overflow-hidden p-4">
    <div>
        <button [routerLink]="['/']" routerLinkActive="router-link-active"
            class="bg-slate-200 px-3 py-1 rounded-md shadow cursor-pointer hover:bg-slate-300 hover:shadow-2xl">
            <i class="bi bi-arrow-left"></i> Back</button>
    </div>

    @if(country) {
    <h1 class="text-center font-bold-sm text-4xl md:text-6xl">{{country[0].name.common}}</h1>
      <div class="h-dvh px-8 rounded-md flex justify-center overflow-y-scroll">

        <div class="px-10 py-10 h-70 w-80 mt-10 rounded-md">
          <img [src]="country[0].flags.png" class="rounded-md" alt="">
        </div>

        <div class="display-block align-center w-180 rounded-[5rem] overflow-y-scroll">

            <div class="justify-center px-10 py-10 h-40 w-40 mt-10 rounded-lg">
              <img [src]="country[0].coatOfArms.png" class="rounded-md" alt="">

            </div>
            <div class="justify-center w-100 h-dvh rounded-[5rem]">

              <p class="text-center font-thin mt-20 text-4xl">{{country[0].name.official}}</p>
              <p class="text-center font-bold-sm mt-1 text-3xl"> Continent </p>
              <p class="text-center font-thin mt-1 text-3xl">{{country[0].continents}}</p>

              @if(country[0].capital){
                <p class="text-center font-bold-sm mt-1 text-3xl"> Capital </p>
                <p class="text-center font-thin mt-1 text-3xl">{{country[0].capital}}</p>
              }
              <p class="text-center font-bold-sm mt-1 text-3xl"> Currency </p>
              <p class="text-center font-thin mt-1 text-3xl">{{currencies[0][1].name}}</p>
              <p class="text-center font-bold-sm mt-1 text-3xl">Languages </p>
              <p class="text-center font-thin mt-1 text-2xl" *ngFor="let item of languages">{{item[1]}}</p>
              <p class="text-center font-bold-sm mt-1 text-3xl"> Subregion </p>
              <p class="text-center font-thin mt-1 text-2xl">{{country[0].subregion}}</p>
              <p class="text-center font-bold-sm mt-1 text-3xl"> Population </p>
              <p class="text-center font-thin mt-1 text-2xl">{{country[0].population}}</p>
              <p class="text-center font-bold-sm mt-1 text-3xl"> Timezone </p>
              <p class="text-center font-thin mt-1 text-2xl">{{country[0].timezones[0]}}</p>
              <p class="text-center font-bold-sm mt-1 text-3xl"> UN-Member </p>
              <p class="text-center font-thin mt-1 text-2xl">{{country[0].unMember}}</p>


            </div>
        </div>
      </div>
      }

  </div>
